<% provide(:title, 'Users')%>
<h1>All Users</h1>

<ul class="users">
  <% @users.each do |user|%>
    <li>
      <%= image_tag user.gravatar_url, alt: user.first_name, class: "gravatar", size: 52 %>
      <%= link_to user.first_name, user %>
    </li>
  <% end %>
</ul>